{% extends 'base.html' %}

{% block content %}
    <form action="/create_report" method="post" style="width: 50%;">
        <p style="padding-left: 25%">Дата: <input id="date-report" type="date" value="{{ date }}" readonly></p>
        <p style="padding-left: 20%">
            <select name="group" required>
                <option selected="selected" disabled>Выбрать группу</option>
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>

            <select name="teacher" required>
                <option selected="selected" disabled>Выбрать преподавателя</option>
                {% for teacher in teachers %}
                    <option value="{{ teacher.id }}">{{ teacher.first_name }} {{ teacher.last_name }}</option>
                {% endfor %}
            </select>
        </p>
        <p style="padding-left: 10%">Страницы с <input type="number" name="number-from"> по <input type="number" name="number-to"></p>
        <p style="padding-left: 7%"><textarea name="comment" required style="width: 70%" placeholder="Замечание"></textarea></p>
        <p style="padding-left: 7%"><button type="submit" style="width: 70%">Создать</button></p>
    </form>
    <a href="/reports"><< Вернуться</a>
{% endblock %}