{% extends 'base.html' %}

{% block content %}
    <div id="content">
    {#    для препода  #}
    {% if permission_group_id == 18 %}
        <h3>
            <form action="reports" method="get">
                {{ user }} - режим преподавателя
                <button type="submit" id="show-all" class="show-all-reports">Показать все</button>
            </form>
        </h3>
        <h3>
            Контроллер - {{ controller }}
            <select id="date" class="show-all-reports">
                <option value selected disabled autocomplete="off">Выбрать дату</option>
                {% for date in date_list %}
                    <option value="{{ date }}">{{ date }}</option>
                {% endfor %}
            </select>
        </h3>

        {% for report in reports %}
           <h2> Дата проверки: {{ report.date }} </h2>
            <table class="report-block-table">
            <tr>
                <td style="width: 75%">
                    <table class="report-table">
                        <tr ><th>Группа</th><th>Замечание</th></tr>
                        <tr> <td>{{ report.group }}</td> <td>{{ report.pages }} {{ report.comment }}</td></tr>
                    </table>
                </td>
                {% if report.status == 'Исправить' %}
                    <td style="border-radius: 15px; background: rgba(255,0,21,0.55); width: 10%; text-align: center">
                        <button type="button" class="button-change-status-change" value="{{ report.id }}" title="Нажмите, чтобы изменить статус на 'Подтверждение'" style="background: inherit; border: inherit; background-image: none; font-size: inherit">{{ report.status }}</button>
                    </td>
                {% endif %}
                {% if report.status == 'Подтверждение' %}
                    <td style="border-radius: 15px; background: #ffe928; width: 10%; text-align: center">
                        {{ report.status }}
                    </td>
                {% endif %}
                {% if report.status == 'Выполнено' %}
                    <td style="border-radius: 15px; background: rgba(67,255,26,0.55); width: 10%; text-align: center">
                        {{ report.status }}
                    </td>
                {% endif %}
                <td></td>
            </tr>

            </table>
        {% endfor %}
    {% endif %}

    {#    для контроллера#}

    {% if permission_group_id == 31 %}
        <h3>
            <form action="reports" method="get">
                {{ user }} - режим контроллера
                <button type="submit" id="show-all" class="show-all-reports">Показать все</button>
            </form>
        </h3>
        <table style="width: 100%">
            <tr>
                <td>
                    <select id="date" class="show-all-reports">
                        <option value selected disabled autocomplete="off">Выбрать дату</option>
                        {% for date in date_list %}
                            <option value="{{ date }}">{{ date }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select id="group" class="show-all-reports">
                        <option value selected disabled autocomplete="off">Выбрать группу</option>
                        {% for group in groups_list %}
                            <option value="{{ group }}">{{ group }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select id="teacher" class="show-all-reports">
                        <option value selected disabled autocomplete="off">Выбрать преподователя</option>
                        {% for teacher in teachers_list %}
                            <option value="{{ teacher.id }}">{{ teacher }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="show-all-reports" id="status">
                        <option value selected disabled autocomplete="off">Выбрать статус</option>
                        <option value="Исправить">Исправить</option>
                        <option value="Подтверждение">Подтверждение</option>
                        <option value="Выполнено">Выполнено</option>
                    </select>
                </td>
                <td>
                    <form action="/create_report" method="get">
                        <button type="submit" style="margin-right: 50%; float: right; width: 171px; height: 20px">Сделать замечание</button>
                    </form>
                </td>

            </tr>
        </table>

        {% for report in reports %}
           <h2> Преподаватель:
               {% for teacher in teachers_list %}
                   {% if report.id_teacher == teacher.id %}
                        {{ teacher.name }}
                   {% endif %}
               {% endfor %}
           </h2>
            <table class="report-block-table">
            <tr>
                <td style="width: 75%">
                    <table class="report-table">
                        <tr>
                            <th>Дата проверки</th>
                            <th>Группа</th>
                            <th>Замечание</th>
                            <th ></th>
                        </tr>
                        <tr>
                            <td>{{ report.date }}</td>
                            <td>{{ report.group }}</td>
                            <td>{{ report.pages }} {{ report.comment }}</td>
                            <td><form action="/change_report/{{ report.id }}" method="GET"><button type="submit">Редактировать</button></form></td>
                        </tr>
                    </table>
                </td>
                {% if report.status == 'Исправить' %}
                    <td style="border-radius: 15px; background: rgba(255,0,21,0.55); width: 10%; text-align: center">
                        {{ report.status }}
                    </td>
                {% endif %}
                {% if report.status == 'Подтверждение' %}
                    <td style="border-radius: 15px; background: #ffe928; width: 10%; text-align: center">
                        <button type="button" class="button-change-status-success" id="{{ report.id }}" value="{{ report.id }}" title="Нажмите, чтобы изменить статус на 'Выполнено'" style="background: inherit; border: inherit; background-image: none; font-size: inherit">{{ report.status }}</button>
                    </td>
                {% endif %}
                {% if report.status == 'Выполнено' %}
                    <td style="border-radius: 15px; background: rgba(67,255,26,0.55); width: 10%; text-align: center">
                        <button type="button" class="button-change-status-change" id="{{ report.id }}" value="{{ report.id }}" title="Нажмите, чтобы изменить статус на 'Исправить'" style="background: inherit; border: inherit; background-image: none; font-size: inherit">{{ report.status }}</button>
                    </td>
                {% endif %}
                <td></td>
            </tr>

            </table>
        {% endfor %}
    {% endif %}

    {#    для админа #}

    {% if permission_group_id==6 or permission_group_id==1%}
        <h3>
            <form action="reports" method="get">
                {{ user }} - режим администратора
                <button type="submit" id="show-all" class="show-all-reports">Показать все</button>
            </form>
        </h3>
        <table style="width: 100%">
            <tr>
                <td>
                    <select id="date" class="show-all-reports">
                        <option value selected disabled autocomplete="off">Выбрать дату</option>
                        {% for date in date_list %}
                            <option value="{{ date }}">{{ date }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select id="group" class="show-all-reports">
                        <option value selected disabled autocomplete="off">Выбрать группу</option>
                        {% for group in groups_list %}
                            <option value="{{ group }}">{{ group }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select id="teacher" class="show-all-reports">
                        <option value selected disabled autocomplete="off">Выбрать преподователя</option>
                        {% for teacher in teachers_list %}
                            <option value="{{ teacher.id }}">{{ teacher }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="show-all-reports" id="status">
                        <option value selected disabled autocomplete="off">Выбрать статус</option>
                        <option value="Исправить">Исправить</option>
                        <option value="Подтверждение">Подтверждение</option>
                        <option value="Выполнено">Выполнено</option>
                    </select>
                </td>
                <td>
                    <select id="controller" class="show-all-reports">
                        <option value selected disabled autocomplete="off">Выбрать контроллера</option>
                        {% for controller in controller_list %}
                            <option value="{{ controller.id }}">{{ controller }}</option>
                        {% endfor %}
                    </select>
            </tr>
        </table>

        {% for report in reports %}
           <h2> Преподаватель:
               {% for teacher in teachers_list %}
                   {% if report.id_teacher == teacher.id %}
                        {{ teacher.name }}
                   {% endif %}
               {% endfor %}
           </h2>
           <h2> Контроллер:
               {% for controller in controller_list %}
                   {% if report.id_controller == controller.id %}
                        {{ controller.name }}
                   {% endif %}
               {% endfor %}
           </h2>
            <table class="report-block-table">
            <tr>
                <td style="width: 75%">
                    <table class="report-table">
                        <tr>
                            <th>Дата проверки</th>
                            <th>Группа</th>
                            <th>Замечание</th>
                        </tr>
                        <tr>
                            <td>{{ report.date }}</td>
                            <td>{{ report.group }}</td>
                            <td>{{ report.pages }} {{ report.comment }}</td>
                        </tr>
                    </table>
                </td>
                {% if report.status == 'Исправить' %}
                    <td style="border-radius: 15px; background: rgba(255,0,21,0.55); width: 10%; text-align: center">
                        {{ report.status }}
                    </td>
                {% endif %}
                {% if report.status == 'Подтверждение' %}
                    <td style="border-radius: 15px; background: #ffe928; width: 10%; text-align: center">
                        <button type="button" style="background: inherit; border: inherit; background-image: none; font-size: inherit">{{ report.status }}</button>
                    </td>
                {% endif %}
                {% if report.status == 'Выполнено' %}
                    <td style="border-radius: 15px; background: rgba(67,255,26,0.55); width: 10%; text-align: center">
                        <button type="button" style="background: inherit; border: inherit; background-image: none; font-size: inherit">{{ report.status }}</button>
                    </td>
                {% endif %}
                <td></td>
            </tr>

            </table>
        {% endfor %}
    {% endif %}
    </div>
    <script>
        $(document).ready(function() {
            var cur_place = null;
            $("#date").change(function () {
                var date = ($('#date option:selected').text());
                $("#date").attr('selectedIndex', 0);
                $.ajax({
                    url: "/reports?date=" + date,
                    type: 'GET',
                    contentType: 'application/json',
                    dataType: 'json',
                }).done(function (responce) {
                    console.log(responce)
                    $('#content').replaceWith(responce)
                });
            });
            $("#group").change(function () {
                var group = ($('#group option:selected').text());
                $("#group").attr('selectedIndex', 0);
                $.ajax({
                    url: "/reports?group=" + group,
                    type: 'GET',
                    contentType: 'application/json',
                    dataType: 'json',
                }).done(function (responce) {
                    $('#content').replaceWith(responce)
                });
            });
            $("#teacher").change(function () {
                var teacher = ($('#teacher option:selected').text());
                $("#teacher").attr('selectedIndex', 0);
                $.ajax({
                    url: "/reports?teacher=" + teacher,
                    type: 'GET',
                    contentType: 'application/json',
                    dataType: 'json',
                }).done(function (responce) {
                    $('#content').replaceWith(responce)
                });
            });
            $("#controller").change(function () {
                var controller = ($('#controller option:selected').text());
                $("#controller").attr('selectedIndex', 0);
                $.ajax({
                    url: "/reports?controller=" + controller,
                    type: 'GET',
                    contentType: 'application/json',
                    dataType: 'json',
                }).done(function (responce) {
                    $('#content').replaceWith(responce)
                });
            });
            $("#status").change(function () {
                var status = ($('#status option:selected').text());
                $("#status").attr('selectedIndex', 0);
                $.ajax({
                    url: "/reports?status=" + status,
                    type: 'GET',
                    contentType: 'application/json',
                    dataType: 'json',
                }).done(function (responce) {
                    $('#content').replaceWith(responce)
                });
            });
            $(".button-change-status-change").each(function () {
                var id_report = ($(this).val());
                $(this).on('click', function () {
                    $.ajax({
                        url: "/change_status_report/" + id_report,
                        type: 'POST',
                        contentType: 'application/json',
                        dataType: 'json',
                        beforeSend: function (request) {
                            request.setRequestHeader("action", 'status');
                            request.setRequestHeader("change", 'change')
                        }
                    }).done(function (responce) {
                        location.reload();
                    });
            });
            })
            $(".button-change-status-success").each(function () {
                var id_report = ($(this).val());
                $(this).on('click', function () {
                    $.ajax({
                        url: "/change_status_report/" + id_report,
                        type: 'POST',
                        contentType: 'application/json',
                        dataType: 'json',
                        beforeSend: function (request) {
                            request.setRequestHeader("action", 'status');
                            request.setRequestHeader("change", 'success')
                        }
                    }).done(function (responce) {
{#                        location.reload();#}
                        location.href = location.href;
                    });
            });
            })
        });
    </script>
{% endblock %}
