{% extends 'base.html' %}

{% block content %}
    <div id="content">
    <h3>
        <form action="reports" method="get">
            {{ teacher }} - режим преподавателя
            <button type="submit" id="show-all" class="show-all-reports">Показать все</button>
        </form>
    </h3>
    <h3>
        Контроллер - {{ controller }}
        <select id="date" class="show-all-reports">
            <option value selected disabled autocomplete="off">Выбрать дату</option>
            {% for date in date_list %}
                <option value="{{ date }}">{{ date }}</option>
            {% endfor %}
        </select>
    </h3>

    </p>
    {% for report in reports %}
       <h2> Дата проверки: {{ report.date }} </h2>
        <table class="report-block-table">
        <tr>
            <td style="width: 75%">
                <table class="report-table">
                    <tr ><th>Группа</th><th>Замечание</th></tr>
                    <tr> <td>{{ report.group }}</td> <td>{{ report.pages }} {{ report.comment }}</td></tr>
                </table>
            </td>
            <td style="border-radius: 15px; background: rgba(255,0,21,0.55); width: 10%; text-align: center">
                {{ report.status }}
            </td>
            <td></td>
        </tr>

        </table>
    {% endfor %}
    </div>
    <script>
        $(document).ready(function(){
            $("#date").change(function() {
                var date=($('#date option:selected').text());
                $("#date").attr('selectedIndex', 0);
                $.ajax({
                    url: "/reports?date="+date,
                    type: 'GET',
                    contentType: 'application/json',
                    dataType: 'json',
                    // not sure what to do next..?

                }).done(function (responce) {
                    $('#content').replaceWith(responce)
                });
            });
        });
    </script>
{% endblock %}
